<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Calendar</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="inData">
    <label for="monthIn">Select Month:</label>
    <select id="monthIn">
      <option value = "" selected disabled>--Month--</option>
      <option value = 0>January</option>
      <option value = 1>February</option>
      <option value = 2>March</option>
      <option value = 3>April</option>
      <option value = 4>May</option>
      <option value = 5>June</option>
      <option value = 6>July</option>
      <option value = 7>August</option>
      <option value = 8>September</option>
      <option value = 9>October</option>
      <option value = 10>November</option>
      <option value = 11>December</option>
    </select>
    <label for="yearIn">Enter Year</label>
    <input type="text" id="yearIn" maxlength="4" placeholder="YYYY">
    <button id="fetchCalendar">Submit</button>
    <button id="reset">Reset</button>
  </div>

  <div class="calendar">
    <h2></h2>
    <ul class="calendar"></ul>
    <p id="infopara1"></p>
    <p id="infopara2"></p>
  </div>

  <script src="script.js"></script>
</body>
</html>
